registry=https://registry.npmmirror.com
puppeteer_skip_chromium_download=true
PUPPETEER_SKIP_DOWNLOAD=true
PUPPETEER_DOWNLOAD_BASE_URL='https://cdn.npmmirror.com/binaries/chrome-for-testing'
# 老版本的使用下面这个变量
# PUPPETEER_DOWNLOAD_HOST='https://cdn.npmmirror.com/binaries/chrome-for-testing'